.Floormen .nav-item {
  background-color: #3670a7;
  color: #fefeff;
}

.Floormen .nav-item .active {
  background-color: #fefeff;
  color: #004a8f;
}

.Floormen .nav-item:hover {
  color: #b8cde0;
}
